.contents.row
  .container
    %h2 登録画面
    = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
      = devise_error_messages!
      .field1
        = f.label :nickname
        %em (6文字以上)
        %br/
      .field1m
        = f.text_field :nickname, autofocus: true, maxlength: "6"
      .field2
        = f.label :email
        %br/
      .fieldm2
        = f.email_field :email
      .field3
        = f.label :password
        - if @validatable
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
      .fieldm3
        = f.password_field :password, autocomplete: "off"
      .field4
        = f.label :password_confirmation
        %br/
      .fieldm4
        = f.password_field :password_confirmation, autocomplete: "off"
      .actions
        = f.submit "登録"
